debug_set_state="Отстраняването на грешки е {state}."
debug_get_state="В момента отстраняването на грешки е {state}."
debug_state_on="включено"
debug_state_off="изключено"
language_user_set="Езикът на {user} сега е {language}."
language_set="Сега езикът ви е {language}."
language_get="Езикът ви е {language}."
group_create_succesfully="Групата {group} е създадена."
group_create_error_name_exist="Вече има група с името {group}."
group_delete_confirmation="Наистина ли искате да изтриете групата {group}? {click_confirmation}."
group_delete="Групата {group} е изтрита."
group_rename_succesfully="Групата {group} е преименувана на {newName}."
group_rename_error_name_exist="Вече има група с името {newName}."
group_rank_set="Сега рангът на {group} е {rank}."
group_default_change="Сега групата {group} е първоначална."
group_permission_set_global="Сега групата {group} има позволението {permission} повсеместно."
group_permission_set_context_world="Сега групата {group} има позволението {permission} в света {world}."
group_permission_deny_global="Групата {group} не може да използва позволението {permission} повсеместно."
group_permission_deny_context_world="Групата {group} не може да използва позволението {permission} в света {world}."
group_permission_remove_global="Групата {group} вече няма позволението {permission} повсеместно."
group_permission_remove_context_world="Групата {group} вече няма позволението {permission} в света {world}."
group_permission_clear_global_confirmation="Наистина ли искате да изтриете всички позволения на групата {group} повсеместно? {click_confirmation}."
group_permission_clear_global="Всички позволения на групата {group} са изтрити повсеместно."
group_permission_clear_context_world_confirmation="Наистина ли искате да изтриете всички позволения на групата {group} в света {world}? {click_confirmation}."
group_permission_clear_context_world="Всички позволения на групата {group} в света {world} са изтрити."
group_option_clear_global_confirmation="Наистина ли искате да изтриете всички опции на групата {group} повсеместно? {click_confirmation}."
group_option_clear_global="Всички опции на групата {group} са изтрити повсеместно."
group_option_clear_context_world_confirmation="Наистина ли искате да изтриете всички опции на групата {group} в света {world}? {click_confirmation}."
group_option_clear_context_world="Всички опции на групата {group} в света {world} са изтрити."
group_group_clear_global_confirmation="Наистина ли искате да изтриете всички групи на групата {group} повсеместно? {click_confirmation}."
group_group_clear_global="Всички групи на групата {group} са изтрити повсеместно."
group_group_clear_context_world_confirmation="Наистина ли искате да изтриете всички групи на групата {group} в света {world}? {click_confirmation}."
group_group_clear_context_world="Всички групи на групата {group} в света {world} са изтрити."
group_group_add_context_world="Групата {group} е добавена към групата {newGroup} в света {world}."
group_group_add_global="Групата {group} е добавена към групата {newGroup} повсеместно."
group_group_remove_context_world="Групата {group} вече няма групата {groupRemoved} в света {world}."
group_group_remove_global="Групата {group} вече няма групата {groupRemoved} повсеместно."
group_option_remove_context_world="Групата {group} вече няма опцията {option} в света {world}."
group_option_remove_global="Групата {group} вече няма опцията {option} повсеместно."
group_option_set_context_world="Сега опцията {option} на групата {group} е зададена на {value} в света {world}."
group_option_set_global="Сега опцията {option} на групата {group} е зададена на {value} повсеместно."
group_loaded="Групата {group} е заредена."
group_saved="Групата {group} е запазена."
group_saved_all="Всички групи са запазени."
user_loaded="{user} се зареди."
user_saved="{user} се запази."
user_saved_all="Всички потребители са запазени."
user_option_remove_context_world="{user} вече няма опцията {option} в света {world}."
user_option_remove_global="{user} вече няма опцията {option} повсеместно."
user_option_set_context_world="Сега опцията {option} на {user} е зададена на {value} в света {world}."
user_option_set_global="Сега опцията {option} на {user} е зададена на {value} повсеместно."
user_group_add_context_world="{user} е добавен в групата {newGroup} в света {world}."
user_group_add_global="{user} е добавен в групата {newGroup} повсеместно."
user_group_remove_context_world="{user} вече няма групата {groupRemoved} в света {world}."
user_group_remove_global="{user} вече няма групата {groupRemoved} повсеместно."
user_group_clear_global_confirmation="Наистина ли искате да изтриете всички групи на {user} повсеместно? {click_confirmation}."
user_group_clear_global="Всички групи на {user} са изтрити повсеместно."
user_group_clear_context_world_confirmation="Наистина ли искате да изтриете всички групи на {user} в света {world}? {click_confirmation}."
user_group_clear_context_world="Всички групи на {user} в света {world} са изтрити."
user_option_clear_global_confirmation="Наистина ли искате да изтриете всички опции на {user} повсеместно? {click_confirmation}."
user_option_clear_global="Всички опции на {user} са изтрити повсеместно."
user_option_clear_context_world_confirmation="Наистина ли искате да изтриете всички опции на {user} в света {world}? {click_confirmation}."
user_option_clear_context_world="Всички опции на {user} в света {world} са изтрити."
user_permission_clear_global_confirmation="Наистина ли искате да изтриете всички позволения на {user} повсеместно? {click_confirmation}."
user_permission_clear_global="Всички позволения на {user} са изтрити повсеместно."
user_permission_clear_context_world_confirmation="Наистина ли искате да изтриете всички позволения на {user} в света {world}? {click_confirmation}."
user_permission_clear_context_world="Всички позволения на {user} в света {world} са изтрити."
user_permission_set_context_world="Сега {user} има позволението {permission} в света {world}."
user_permission_set_global="Сега {user} има позволението {permission} повсеместно."
user_permission_deny_context_world="{user} не може да използва позволението {permission} в света {world}."
user_permission_deny_global="{user} не може да използва позволението {permission} повсеместно."
user_permission_remove_context_world="{user} вече няма позволението {permission} в света {world}."
user_permission_remove_global="{user} вече няма позволението {permission} повсеместно."
click_confirmation="Щракнете тук, за да потвърдите"
action_already_executed="Действието вече е било изпълнено."
action_no_longer_available="Действието вече не е налично."
saving_error="Възникна грешка при запазването на файла. Проверете журнала."
loading_error="Възникна грешка при зареждането на файла. Проверете журнала."
menu_back="Назад"
menu_refresh="Опресняване"
menu_main_debug="Отстраняване на грешки"
menu_main_users="Потребители"
menu_main_groups="Групи"
menu_main_promotion="Повишения"
menu_debug_current_state="В момента отстраняването на грешки е:"
menu_subjects_save_all="Запазване на всички"
menu_subjects_save_subject="Запазване на"
menu_subjects_load_subject="Зареждане на"
menu_subjects_groups_plural="групи"
menu_subjects_users_plural="потребители"
menu_subjects_groups_single="група"
menu_subjects_users_single="потребител"
menu_subject_edit="Редактиране на"
menu_groups_default_group="Първоначална група:"
menu_groups_create="Създаване на нова група."
menu_groups_delete="Изтриване на група."
menu_groups_rename="Преименуване на група."
menu_group_rank="Ранг:"
menu_user_language="Език:"
menu_user_promote="Прилагане на повишение."
menu_subject_add_permission="Добавяне на позволение."
menu_subject_add_permission_world="Добавяне на позволение в света"
menu_subject_deny_permission="Отказване на позволение."
menu_subject_deny_permission_world="Отказване на позволение в света"
menu_subject_remove_permission="Премахване на позволение."
menu_subject_remove_permission_world="Премахване на позволение в света"
menu_subject_add_option="Добавяне на опция."
menu_subject_add_option_world="Добавяне на опция в света"
menu_subject_set_option="Редактиране на опция."
menu_subject_set_option_world="Редактиране на опция в света"
menu_subject_remove_option="Премахване на опция."
menu_subject_remove_option_world="Премахване на опция в света"
menu_subject_add_group="Добавяне на група."
menu_subject_add_group_world="Добавяне на група в света"
menu_subject_remove_group="Премахване на група."
menu_subject_remove_group_world="Премахване на група в света"
menu_subject_load="Зареждане."
menu_subject_save="Запазване."
promotion_create_succesfully="Повишението {promotion} е създадено."
promotion_create_error_name_exist="Вече има повишение с името {promotion}."
promotion_delete_confirmation="Наистина ли искате да изтриете повишението {promotion}? {click_confirmation}."
promotion_delete="Повишението {promotion} е изтрито."
promotion_rename_succesfully="Повишението {promotion} е преименувано на {newName}."
promotion_rename_error_name_exist="Вече има повишение с името {newName}."
promotion_loaded="Повишението {promotion} е заредено."
promotion_loaded_all="Всички повишения са заредени."
promotion_saved="Повишението {promotion} е запазено."
promotion_saved_all="Всички повишения са запазени."
promote_user="{user} получи повишението {promotion}."
menu_promotion_create="Създаване на повишение."
menu_promotion_rename="Преименуване на повишение."
menu_promotion_delete="Изтриване на повишение."
menu_promotion_load="Зареждане на повишение."
menu_promotion_load_all="Зареждане на всички повишения."
menu_promotion_save="Запазване на повишение."
menu_promotion_save_all="Запазване на всички повишения."
menu_promotion_apply_promotion="Прилагане на повишение."