debug_set_state="The debug mode is {state}."
debug_get_state="The debug mode is currently {state}."
debug_state_on="on"
debug_state_off="off"
language_user_set="{user} language is now {language}."
language_set="Your language is now {language}."
language_get="Your language is {language}."
group_create_succesfully="The group {group} has been created."
group_create_error_name_exist="There is already a group named {group}."
group_delete_confirmation="Do you really want to delete the group {group}? {click_confirmation}."
group_delete="The group {group} has been deleted."
group_rename_succesfully="The group {group} has been renamed {newName}."
group_rename_error_name_exist="There is already a group named {newName}."
group_rank_set="The rank of {group} is now {rank}."
group_default_change="The group {group} is now the default group."
group_permission_set_global="The group {group} has now the permission {permission} globally."
group_permission_set_context_world="The group {group} has now the permission {permission} in the world {world}."
group_permission_deny_global="The group {group} can't use the permission {permission} globally."
group_permission_deny_context_world="The group {group} can't use the permission {permission} in the world {world}."
group_permission_remove_global="The group {group} doesn't have anymore the permission {permission} globally."
group_permission_remove_context_world="The group {group} doesn't have anymore the permission {permission} in the world {world}."
group_permission_clear_global_confirmation="Do you really want to delete all the permissions of the group {group} globally? {click_confirmation}."
group_permission_clear_global="All the permissions of the group {group} have been deleted globally."
group_permission_clear_context_world_confirmation="Do you really want to delete all the permissions of the group {group} in the world {world}? {click_confirmation}."
group_permission_clear_context_world="All the permissions of the group {group} have been deleted in the world {world}."
group_option_clear_global_confirmation="Do you really want to delete all the options of the group {group} globally? {click_confirmation}."
group_option_clear_global="All the options of the group {group} have been deleted globally."
group_option_clear_context_world_confirmation="Do you really want to delete all the options of the group {group} in the world {world}? {click_confirmation}."
group_option_clear_context_world="All the options of the group {group} have been deleted in the world {world}."
group_group_clear_global_confirmation="Do you really want to delete all the groups of the group {group} globally? {click_confirmation}."
group_group_clear_global="All the groups of the group {group} have been deleted globally."
group_group_clear_context_world_confirmation="Do you really want to delete all the groups of the group {group} in the world {world}? {click_confirmation}."
group_group_clear_context_world="All the groups of the group {group} have been deleted in the world {world}."
group_group_add_context_world="The group {group} has now the group {newGroup} in the world {world}."
group_group_add_global="The group {group} has now the group {newGroup} globally."
group_group_remove_context_world="The group {group} doesn't have anymore the group {groupRemoved} in the world {world}."
group_group_remove_global="The group {group} doesn't have anymore the group {groupRemoved} globally."
group_option_remove_context_world="The group {group} doesn't have anymore the option {option} in the world {world}."
group_option_remove_global="The group {group} doesn't have anymore the option {option} globally."
group_option_set_context_world="The group {group} has now the option {option} set to {value} in the world {world}."
group_option_set_global="The group {group} has now the option {option} set to {value} globally."
group_loaded="The group {group} has been loaded."
group_saved="The group {group} has been saved."
group_saved_all="All the groups have been saved."
user_loaded="{user} has been loaded."
user_saved="{user} has been saved."
user_saved_all="All the users have been saved."
user_option_remove_context_world="{user} doesn't have anymore the option {option} in the world {world}."
user_option_remove_global="{user} doesn't have anymore the option {option} globally."
user_option_set_context_world="{user} has now the option {option} set to {value} in the world {world}."
user_option_set_global="{user} has now the option {option} set to {value} globally."
user_group_add_context_world="{user} has now the group {newGroup} in the world {world}."
user_group_add_global="{user} has now the group {newGroup} globally."
user_group_remove_context_world="{user} doesn't have anymore the group {groupRemoved} in the world {world}."
user_group_remove_global="{user} doesn't have anymore the group {groupRemoved} globally."
user_group_clear_global_confirmation="Do you really want to delete all the groups of {user} globally? {click_confirmation}."
user_group_clear_global="All the groups of {user} have been deleted globally."
user_group_clear_context_world_confirmation="Do you really want to delete all the groups of {user} in the world {world}? {click_confirmation}."
user_group_clear_context_world="All the groups of {user} have been deleted in the world {world}."
user_option_clear_global_confirmation="Do you really want to delete all the options of {user} globally? {click_confirmation}."
user_option_clear_global="All the options of {user} have been deleted globally."
user_option_clear_context_world_confirmation="Do you really want to delete all the options of {user} in the world {world}? {click_confirmation}."
user_option_clear_context_world="All the options of {user} have been deleted in the world {world}."
user_permission_clear_global_confirmation="Do you really want to delete all the permissions of {user} globally? {click_confirmation}."
user_permission_clear_global="All the permissions of {user} have been deleted globally."
user_permission_clear_context_world_confirmation="Do you really want to delete all the permissions of {user} in the world {world}? {click_confirmation}."
user_permission_clear_context_world="All the permissions of {user} have been deleted in the world {world}."
user_permission_set_context_world="{user} has now the permission {permission} in the world {world}."
user_permission_set_global="{user} has now the permission {permission} globally."
user_permission_deny_context_world="{user} can't use the permission {permission} in the world {world}."
user_permission_deny_global="{user} can't use the permission {permission} globally."
user_permission_remove_context_world="{user} doesn't have anymore the permission {permission} in the world {world}."
user_permission_remove_global="{user} doesn't have anymore the permission {permission} globally."
click_confirmation="Click here to confirm"
action_already_executed="This action has already been executed."
action_no_longer_available="This action is no longer available."
saving_error="An error happened while saving the file. Check the logs."
loading_error="An error happened while loading the file. Check the logs."