debug_set_state="The debug mode is {state}."
debug_get_state="The debug mode is currently {state}."
debug_state_on="on"
debug_state_off="off"
language_user_set="{user} language is now {language}."
language_set="Your language is now {language}."
language_get="Your language is {language}."
group_create_succesfully="The group {group} has been created."
group_create_error_name_exist="There is already a group named {group}."
group_delete_confirmation="Do you really want to delete the group {group}? {click_confirmation}."
group_delete="The group {group} has been deleted."
group_rename_succesfully="The group {group} has been renamed {newName}."
group_rename_error_name_exist="There is already a group named {newName}."
group_rank_set="The rank of {group} is now {rank}."
group_default_change="The group {group} is now the default group."
group_permission_set_global="The group {group} now has the permission {permission} globally."
group_permission_set_context_world="The group {group} now has the permission {permission} in the world {world}."
group_permission_deny_global="The group {group} can't use the permission {permission} globally."
group_permission_deny_context_world="The group {group} can't use the permission {permission} in the world {world}."
group_permission_remove_global="The group {group} no longer has the permission {permission} globally."
group_permission_remove_context_world="The group {group} no longer has the permission {permission} in the world {world}."
group_permission_clear_global_confirmation="Do you really want to delete all the permissions of the group {group} globally? {click_confirmation}."
group_permission_clear_global="All the permissions of the group {group} have been deleted globally."
group_permission_clear_context_world_confirmation="Do you really want to delete all the permissions of the group {group} in the world {world}? {click_confirmation}."
group_permission_clear_context_world="All the permissions of the group {group} have been deleted in the world {world}."
group_option_clear_global_confirmation="Do you really want to delete all the options of the group {group} globally? {click_confirmation}."
group_option_clear_global="All the options of the group {group} have been deleted globally."
group_option_clear_context_world_confirmation="Do you really want to delete all the options of the group {group} in the world {world}? {click_confirmation}."
group_option_clear_context_world="All the options of the group {group} have been deleted in the world {world}."
group_group_clear_global_confirmation="Do you really want to delete all the groups of the group {group} globally? {click_confirmation}."
group_group_clear_global="All the groups of the group {group} have been deleted globally."
group_group_clear_context_world_confirmation="Do you really want to delete all the groups of the group {group} in the world {world}? {click_confirmation}."
group_group_clear_context_world="All the groups of the group {group} have been deleted in the world {world}."
group_group_add_context_world="The group {group} has been added to the group {newGroup} in the world {world}."
group_group_add_global="The group {group} has been added to the group {newGroup} globally."
group_group_remove_context_world="The group {group} no longer has the group {groupRemoved} in the world {world}."
group_group_remove_global="The group {group} no longer has the group {groupRemoved} globally."
group_option_remove_context_world="The group {group} no longer has the option {option} in the world {world}."
group_option_remove_global="The group {group} no longer has the option {option} globally."
group_option_set_context_world="The group {group} now has the option {option} set to {value} in the world {world}."
group_option_set_global="The group {group} now has the option {option} set to {value} globally."
group_loaded="The group {group} has been loaded."
group_saved="The group {group} has been saved."
group_saved_all="All the groups have been saved."
user_loaded="{user} has been loaded."
user_loaded_all="Online users have been loaded."
user_saved="{user} has been saved."
user_saved_all="All the users have been saved."
user_option_remove_context_world="{user} no longer has the option {option} in the world {world}."
user_option_remove_global="{user} no longer has the option {option} globally."
user_option_set_context_world="{user} now has the option {option} set to {value} in the world {world}."
user_option_set_global="{user} now has the option {option} set to {value} globally."
user_group_add_context_world="{user} has been added to the group {newGroup} in the world {world}."
user_group_add_global="{user} has been added to the group {newGroup} globally."
user_group_remove_context_world="{user} no longer has the group {groupRemoved} in the world {world}."
user_group_remove_global="{user} no longer has the group {groupRemoved} globally."
user_group_clear_global_confirmation="Do you really want to delete all the groups of {user} globally? {click_confirmation}."
user_group_clear_global="All the groups of {user} have been deleted globally."
user_group_clear_context_world_confirmation="Do you really want to delete all the groups of {user} in the world {world}? {click_confirmation}."
user_group_clear_context_world="All the groups of {user} have been deleted in the world {world}."
user_option_clear_global_confirmation="Do you really want to delete all the options of {user} globally? {click_confirmation}."
user_option_clear_global="All the options of {user} have been deleted globally."
user_option_clear_context_world_confirmation="Do you really want to delete all the options of {user} in the world {world}? {click_confirmation}."
user_option_clear_context_world="All the options of {user} have been deleted in the world {world}."
user_permission_clear_global_confirmation="Do you really want to delete all the permissions of {user} globally? {click_confirmation}."
user_permission_clear_global="All the permissions of {user} have been deleted globally."
user_permission_clear_context_world_confirmation="Do you really want to delete all the permissions of {user} in the world {world}? {click_confirmation}."
user_permission_clear_context_world="All the permissions of {user} have been deleted in the world {world}."
user_permission_set_context_world="{user} now has the permission {permission} in the world {world}."
user_permission_set_global="{user} now has the permission {permission} globally."
user_permission_deny_context_world="{user} can't use the permission {permission} in the world {world}."
user_permission_deny_global="{user} can't use the permission {permission} globally."
user_permission_remove_context_world="{user} no longer has the permission {permission} in the world {world}."
user_permission_remove_global="{user} no longer has the permission {permission} globally."
click_confirmation="Click here to confirm"
action_already_executed="This action has already been executed."
action_no_longer_available="This action is no longer available."
saving_error="An error happened while saving the file. Check the logs."
loading_error="An error happened while loading the file. Check the logs."
menu_back="Back"
menu_refresh="Refresh"
menu_main_debug="Debug mode"
menu_main_users="Users"
menu_main_groups="Groups"
menu_main_promotion="Promotions"
menu_debug_current_state="The debug mode is currently:"
menu_subjects_save_all="Save all the"
menu_subjects_save_subject="Save a"
menu_subjects_load_subject="Load a"
menu_subjects_groups_plural="groups"
menu_subjects_users_plural="users"
menu_subjects_groups_single="group"
menu_subjects_users_single="user"
menu_subject_edit="Edit a"
menu_groups_default_group="Default group:"
menu_groups_create="Create a new group."
menu_groups_delete="Delete a group."
menu_groups_rename="Rename a group."
menu_group_rank="Rank:"
menu_user_language="Language:"
menu_user_promote="Apply a promotion."
menu_subject_add_permission="Add a permission."
menu_subject_add_permission_world="Add a permission in world"
menu_subject_deny_permission="Deny a permission."
menu_subject_deny_permission_world="Deny a permission in world"
menu_subject_remove_permission="Remove a permission."
menu_subject_remove_permission_world="Remove a permission in world"
menu_subject_add_option="Add an option."
menu_subject_add_option_world="Add an option in world"
menu_subject_set_option="Edit an option."
menu_subject_set_option_world="Edit an option in world"
menu_subject_remove_option="Remove an option."
menu_subject_remove_option_world="Remove an option in world"
menu_subject_add_group="Add a group."
menu_subject_add_group_world="Add a group in world"
menu_subject_remove_group="Remove a group."
menu_subject_remove_group_world="Remove a group in world"
menu_subject_load="Load."
menu_subject_save="Save."
promotion_create_succesfully="The promotion {promotion} has been created."
promotion_create_error_name_exist="There is already a promotion named {promotion}."
promotion_delete_confirmation="Do you really want to delete the promotion {promotion}? {click_confirmation}."
promotion_delete="The promotion {promotion} has been deleted."
promotion_rename_succesfully="The promotion {promotion} has been renamed {newName}."
promotion_rename_error_name_exist="There is already a promotion named {newName}."
promotion_loaded="The promotion {promotion} has been loaded."
promotion_loaded_all="All the promotions have been loaded."
promotion_saved="The promotion {promotion} has been saved."
promotion_saved_all="All the promotions have been saved."
promote_user="{user} received the promotion {promotion}."
menu_promotion_create="Create a promotion."
menu_promotion_rename="Rename a promotion."
menu_promotion_delete="Delete a promotion."
menu_promotion_load="Load a promotion."
menu_promotion_load_all="Load all the promotions."
menu_promotion_save="Save a promotion."
menu_promotion_save_all="Save all the promotions."
menu_promotion_apply_promotion="Apply a promotion."