debug_set_state="Le mode de débogage est maintenant {state}."
debug_get_state="Le mode de débogage est présentement {state}."
debug_state_on="activé"
debug_state_off="désactivé"
language_user_set="La langue de {user} est maintenant le {language}."
language_set="Votre langue est maintenant le {language}."
language_get="Votre langue est le {language}."
group_create_succesfully="Le groupe {group} a été créé."
group_create_error_name_exist="Il existe déjà un groupe nommé {group}."
group_delete_confirmation="Souhaitez-vous vraiment effacer le groupe {group}? {click_confirmation}."
group_delete="Le groupe {group} a été effacé."
group_rename_succesfully="Le groupe {group} a été renommé {newName}."
group_rename_error_name_exist="Il existe déjà un groupe nommé {newName}."
group_rank_set="Le rang du groupe {group} est maintenant {rank}."
group_default_change="Le groupe {group} est maintenant le groupe par défaut."
group_permission_set_global="Le groupe {group} a maintenant la permission {permission} globalement."
group_permission_set_context_world="Le groupe {group} a maintenant la permission {permission} dans le monde {world}."
group_permission_deny_global="Le groupe {group} ne peut pas utiliser la permission {permission} globalement."
group_permission_deny_context_world="Le groupe {group} ne peut pas utiliser la permission {permission} dans le monde {world}."
group_permission_remove_global="Le groupe {group} n'a plus la permission {permission} globalement."
group_permission_remove_context_world="Le groupe {group} n'a plus la permission {permission} dans le monde {world}."
group_permission_clear_global_confirmation="Souhaitez-vous vraiment effacer toutes les permissions du groupe {group} globalement? {click_confirmation}."
group_permission_clear_global="Toutes les permissions du groupe {group} ont été effacées globalement."
group_permission_clear_context_world_confirmation="Souhaitez-vous vraiment effacer toutes les permissions du groupe {group} dans le monde {world}? {click_confirmation}."
group_permission_clear_context_world="Toutes les permissions du groupe {group} ont été effacées dans le monde {world}."
group_option_clear_global_confirmation="Souhaitez-vous vraiment effacer toutes les options du groupe {group} globalement? {click_confirmation}."
group_option_clear_global="Toutes les options du groupe {group} ont été effacées globalement."
group_option_clear_context_world_confirmation="Souhaitez-vous vraiment effacer toutes les options du groupe {group} dans le monde {world}? {click_confirmation}."
group_option_clear_context_world="Toutes les options du groupe {group} ont été effacées dans le monde {world}."
group_group_clear_global_confirmation="Souhaitez-vous vraiment effacer toutes les groupes du groupe {group} globalement? {click_confirmation}."
group_group_clear_global="Toutes les groupes du groupe {group} ont été effacées globalement."
group_group_clear_context_world_confirmation="Souhaitez-vous vraiment effacer toutes les groupes du groupe {group} dans le monde {world}? {click_confirmation}."
group_group_clear_context_world="Toutes les groupes du groupe {group} ont été effacées dans le monde {world}."
group_group_add_global="Le groupe {group} a maintenant le groupe {newGroup} globalement."
group_group_add_context_world="Le groupe {group} a maintenant le groupe {newGroup} dans le monde {world}."
group_group_remove_global="Le groupe {group} n'a plus le groupe {groupRemoved} globalement."
group_group_remove_context_world="Le groupe {group} n'a plus le groupe {groupRemoved} dans le monde {world}."
group_option_set_global="Le groupe {group} a maintenant l'option {option} avec la valeur {value} globalement."
group_option_set_context_world="Le groupe {group} a maintenant l'option {option} avec la valeur {value} dans le monde {world}."
group_option_remove_global="Le groupe {group} n'a plus l'option {option} globalement."
group_option_remove_context_world="Le groupe {group} n'a plus l'option {option} dans le monde {world}."
group_loaded="Le groupe {group} a bien été chargé."
group_saved="Le groupe {group} a bien été enregistré."
group_saved_all="Tous les groupes ont bien été enregistré."
user_loaded="{user} a bien été chargé."
user_loaded_all="Les utilisateurs en ligne ont bien été chargés."
user_saved="{user} a bien été enregistré."
user_saved_all="Tous les joueurs bien été enregistré."
user_option_set_context_world="{user} a maintenant l'option {option} avec la valeur {value} dans le monde {world}."
user_option_set_global="{user} a maintenant l'option {option} avec la valeur {value} globalement."
user_option_remove_context_world="{user} n'a plus l'option {option} dans le monde {world}."
user_option_remove_global="{user} n'a plus l'option {option} globalement."
user_group_add_global="{user} a maintenant le groupe {newGroup} globalement."
user_group_add_context_world="{user} a maintenant le groupe {newGroup} dans le monde {world}."
user_group_remove_global="{user} n'a plus le groupe {groupRemoved} globalement."
user_group_remove_context_world="{user} n'a plus le groupe {groupRemoved} dans le monde {world}."
user_group_clear_global_confirmation="Souhaitez-vous vraiment effacer toutes les groupes de {user} globalement? {click_confirmation}."
user_group_clear_global="Toutes les groupes de {user} ont été effacées globalement."
user_group_clear_context_world_confirmation="Souhaitez-vous vraiment effacer toutes les groupes de {user} dans le monde {world}? {click_confirmation}."
user_group_clear_context_world="Toutes les groupes de {user} ont été effacées dans le monde {world}."
user_option_clear_global_confirmation="Souhaitez-vous vraiment effacer toutes les options de {user} globalement? {click_confirmation}."
user_option_clear_global="Toutes les options de {user} ont été effacées globalement."
user_option_clear_context_world_confirmation="Souhaitez-vous vraiment effacer toutes les options de {user} dans le monde {world}? {click_confirmation}."
user_option_clear_context_world="Toutes les options de {user} ont été effacées dans le monde {world}."
user_permission_clear_global_confirmation="Souhaitez-vous vraiment effacer toutes les permissions de {user} globalement? {click_confirmation}."
user_permission_clear_global="Toutes les permissions de {user} ont été effacées globalement."
user_permission_clear_context_world_confirmation="Souhaitez-vous vraiment effacer toutes les permissions de {user} dans le monde {world}? {click_confirmation}."
user_permission_clear_context_world="Toutes les permissions de {user} ont été effacées dans le monde {world}."
user_permission_set_context_world="{user} a maintenant la permission {permission} dans le monde {world}."
user_permission_set_global="{user} a maintenant la permission {permission} globalement."
user_permission_deny_context_world="{user} ne peut pas utiliser la permission {permission} dans le monde {world}."
user_permission_deny_global="{user} ne peut pas utiliser la permission {permission} globalement."
user_permission_remove_context_world="{user} n'a plus la permission {permission} dans le monde {world}."
user_permission_remove_global="{user} n'a plus la permission {permission} globalement."
click_confirmation="Cliquer ici pour confirmer"
action_already_executed="Cette action a déjà été exécuté."
action_no_longer_available="Cette action n'est plus disponible."
saving_error="Une erreur est survenu lors de l'enregistrement du fichier. Regarder les logs."
loading_error="Une erreur est survenu lors du chargement du fichier. Regarder les logs."
menu_back="Retour"
menu_refresh="Actualiser"
menu_main_groups="Groupes"
menu_main_users="Joueurs"
menu_main_debug="Mode debug"
menu_main_promotion="Promotions"
menu_debug_current_state="Le mode de débogage est présentement:"
menu_subjects_save_all="Enregistrer tout les"
menu_subjects_save_subject="Enregistrer un"
menu_subjects_load_subject="Charger un"
menu_subjects_groups_plural="groupes"
menu_subjects_users_plural="joueurs"
menu_subjects_groups_single="groupe"
menu_subjects_users_single="joueur"
menu_subject_edit="Modifier un"
menu_groups_default_group="Groupe par défaut:"
menu_groups_create="Créer un nouveau groupe."
menu_groups_delete="Effacer un groupe."
menu_groups_rename="Renommer un groupe."
menu_group_rank="Rang:"
menu_user_language="Langue:"
menu_user_promote="Appliquer une promotion."
menu_subject_add_permission="Ajouter une permission."
menu_subject_add_permission_world="Ajouter une permission dans un monde"
menu_subject_deny_permission="Bloquer une permission."
menu_subject_deny_permission_world="Bloquer une permission dans un monde"
menu_subject_remove_permission="Enlever une permission."
menu_subject_remove_permission_world="Enlever une permission dans un monde"
menu_subject_add_option="Ajouter une option."
menu_subject_add_option_world="Ajouter une option dans un monde"
menu_subject_set_option="Modifier une option."
menu_subject_set_option_world="Modifier une option dans un monde"
menu_subject_remove_option="Enlever une option."
menu_subject_remove_option_world="Enlever une option dans un monde"
menu_subject_add_group="Ajouter un groupe."
menu_subject_add_group_world="Ajouter un groupe dans un monde"
menu_subject_remove_group="Enlever un groupe."
menu_subject_remove_group_world="Enlever un groupe dans un monde"
menu_subject_load="Charger."
menu_subject_save="Enregistrer."
promotion_create_succesfully="La promotion {promotion} a été créé."
promotion_create_error_name_exist="Il existe déjà une promotion nommée {promotion}."
promotion_delete_confirmation="Souhaitez-vous vraiment effacer la promotion {promotion}? {click_confirmation}."
promotion_delete="La promotion {promotion} a été effacé."
promotion_rename_succesfully="La promotion {promotion} a été renommé {newName}."
promotion_rename_error_name_exist="Il existe déjà une promotion nommé {newName}."
promotion_loaded="La promotion {promotion} a bien été chargé."
promotion_loaded_all="Toutes les promotions bien été chargé."
promotion_saved="La promotion {promotion} a bien été enregistré."
promotion_saved_all="Toutes les promotions bien été enregistré."
promote_user="{user} reçu la promotion {promotion}."
menu_promotion_create="Créer une promotion."
menu_promotion_rename="Renommer une promotion."
menu_promotion_delete="Effacer une promotion."
menu_promotion_load="Charger une promotion."
menu_promotion_load_all="Charger toutes les promotions."
menu_promotion_save="Enregistrer une promotion."
menu_promotion_save_all="Enregistrer toutes les promotions."
menu_promotion_apply_promotion="Appliquer une promotion."