debug_set_state="Tikrinimo būdas {state}."
debug_get_state="Tikrinimo būdas šiuo metu yra {state}."
debug_state_on="įjungtas"
debug_state_off="išjungtas"
language_user_set="{user} kalba nustatyta į {language}."
language_set="Jūsų kalba yra nustatyta į {language}."
language_get="Jūsų kalba yra {language}."
group_create_succesfully="Grupė {group} sukurta."
group_create_error_name_exist="Jau yra grupė su tokiu pavadinimu {group}."
group_delete_confirmation="Ar jūs tikrai norite ištrinti grupę {group}? {click_confirmation}."
group_delete="Grupė {group} ištrinta."
group_rename_succesfully="Grupė {group} pervardinta į {newName}."
group_rename_error_name_exist="Jau yra grupė su tokiu pavadinimu {newName}."
group_rank_set="{group} lygis dabar yra {rank}."
group_default_change="Grupė {group} dabar yra numatytoji grupė."
group_permission_set_global="Grupė {group} dabar turi privilegiją {permission} globaliai."
group_permission_set_context_world="Grupė {group} dabar turi privilegiją {permission} pasaulyje {world}."
group_permission_deny_global="Grupė {group} nebegali naudoti privilegijos {permission} globaliai."
group_permission_deny_context_world="Grupė {group} nebegali naudoti privilegijos{permission} pasaulyje {world}."
group_permission_remove_global="Grupė {group} nebeturi privilegijos {permission} globaliai."
group_permission_remove_context_world="Grupė {group} nebeturi privilegijos {permission} pasaulyje {world}."
group_permission_clear_global_confirmation="Ar jūs tikrai norite ištrinti visas privilegijos grupės {group} globaliai? {click_confirmation}."
group_permission_clear_global="Visos privilegijos grupės {group} ištrintos globaliai."
group_permission_clear_context_world_confirmation="Ar jūs tikrai norite ištrinti visas privilegijos grupės {group} pasaulyje {world}? {click_confirmation}."
group_permission_clear_context_world="Visos privilegijos grupės {group} ištrintos pasaulyje {world}."
group_option_clear_global_confirmation="Ar jūs tikrai norite ištrinti visus nustatymus grupės {group} globaliai? {click_confirmation}."
group_option_clear_global="Visi nustatymai grupės {group} ištrinti globaliai."
group_option_clear_context_world_confirmation="Ar jūs tikrai norite ištrinti visus nustatymus grupės {group} pasaulyje {world}? {click_confirmation}."
group_option_clear_context_world="Visi nustatymai grupės {group} ištrinti pasaulyje {world}."
group_group_clear_global_confirmation="Ar jūs tikrai norite ištrinti visas grupes grupės {group} globaliai? {click_confirmation}."
group_group_clear_global="Visos grupės grupėje {group} ištrinti globaliai."
group_group_clear_context_world_confirmation="Ar jūs tikrai norite ištrinti visas grupes grupės {group} pasaulyje {world}? {click_confirmation}."
group_group_clear_context_world="Visos grupės grupėje {group} ištrinti pasaulyje {world}."
group_group_add_context_world="Grupė {group} dabar turi grupę {newGroup} pasaulyje {world}."
group_group_add_global="Grupė {group} dabar turi grupę {newGroup} globaliai."
group_group_remove_context_world="Grupė {group} nebeturi grupės {groupRemoved} pasaulyje {world}."
group_group_remove_global="Grupė {group} nebeturi grupės {groupRemoved} globaliai."
group_option_remove_context_world="Grupė {group} nebeturi nustatymo {option} pasaulyje {world}."
group_option_remove_global="Grupė {group} nebeturi nustatymo {option} globaliai."
group_option_set_context_world="Grupė {group} dabar turi nustatymą {option} nustatytą į {value} pasaulyje {world}."
group_option_set_global="Grupė {group} dabar turi nustatymą {option} nustatytą į {value} globaliai."
group_loaded="Grupė {group} užkrauta."
group_saved="Grupė {group} išsaugota."
group_saved_all="Visos grupės išsaugotos."
user_loaded="{user} užkrautas."
user_saved="{user} išsaugotas."
user_saved_all="Visi žaidėjai išsaugoti."
user_option_remove_context_world="{user} nebeturi nustatymo {option} pasaulyje {world}."
user_option_remove_global="{user} nebeturi nustatymo {option} globaliai."
user_option_set_context_world="{user} dabar turi nustatmą {option} nustatytą į {value} pasaulyje {world}."
user_option_set_global="{user} dabar turi nustatmą {option} nustatytą į {value} globaliai."
user_group_add_context_world="{user} pridėtas į grupę {newGroup} pasaulyje {world}."
user_group_add_global="{user} pridėtas į grupę {newGroup} globaliai."
user_group_remove_context_world="{user} nebėra grupėje {groupRemoved} pasaulyje {world}."
user_group_remove_global="{user} nebėra grupėje {groupRemoved} globaliai."
user_group_clear_global_confirmation="Ar jūs tikrai norite ištrinti visas grupes žaidėjo {user} globaliai? {click_confirmation}."
user_group_clear_global="Visos grupės žaidėjaus {user} ištrintos globaliai."
user_group_clear_context_world_confirmation="Ar jūs tikrai norite ištrinti visas grupes žaidėjo {user} pasaulyje {world}? {click_confirmation}."
user_group_clear_context_world="Visos grupės žaidėjaus {user} ištrintos pasaulyje {world}."
user_option_clear_global_confirmation="Ar jūs tikrai norite ištrinti visus nustatymus žaidėjo {user} globaliai? {click_confirmation}."
user_option_clear_global="Visi nustatymai žaidėjaus {user} ištrinti globaliai."
user_option_clear_context_world_confirmation="Ar jūs tikrai norite ištrinti visus nustatymus žaidėjo {user} pasaulyje {world}? {click_confirmation}."
user_option_clear_context_world="Visi nustatymai žaidėjaus {user} ištrinti pasaulyje {world}."
user_permission_clear_global_confirmation="Ar jūs tikrai norite ištrinti visas privilegijas žaidėjo {user} globaliai? {click_confirmation}."
user_permission_clear_global="Visos privilegijos žaidėjaus {user} ištrintos globaliai."
user_permission_clear_context_world_confirmation="Ar jūs tikrai norite ištrinti visas privilegijas žaidėjo {user} pasaulyje {world}? {click_confirmation}."
user_permission_clear_context_world="Visos privilegijos žaidėjaus {user} ištrintos pasaulyje {world}."
user_permission_set_context_world="{user} dabar turi privilegiją {permission} pasaulyje {world}."
user_permission_set_global="{user} dabar turi privilegiją {permission} globaliai."
user_permission_deny_context_world="{user} nebegali naudoti privilegijos {permission} pasaulyje {world}."
user_permission_deny_global="{user} nebegali naudoti privilegijos {permission} globaliai."
user_permission_remove_context_world="{user} nebeturi privilegijos {permission} pasaulyje {world}."
user_permission_remove_global="{user} nebeturi privilegijos {permission} globaliai."
click_confirmation="Spauskite čia, kad patvirtinti"
action_already_executed="Šis veiksmas jau yra paleistas."
action_no_longer_available="Šis veiksmas nebeprieinamas."
saving_error="Įvyko klaida mėginant išsaugoti failus. Patikrinkite žurnalus."
loading_error="Įvyko klaida mėginant užkrauti failus. Patikrinkite žurnalus."
menu_back="Atgal"
menu_refresh="Perkrauti"
menu_main_debug="Tikrinimo būdas"
menu_main_users="Vartotojai"
menu_main_groups="Grupės"
menu_main_promotion="Paaukštinimai"
menu_debug_current_state="Tikrinimo būdas šiuo metu yra:"
menu_subjects_save_all="Išsaugoti visus"
menu_subjects_save_subject="Išsaugoti"
menu_subjects_load_subject="Užkrauti"
menu_subjects_groups_plural="grupės"
menu_subjects_users_plural="vartotojai"
menu_subjects_groups_single="grupė"
menu_subjects_users_single="vartotojas"
menu_subject_edit="Koreguoti"
menu_groups_default_group="Numatytoji grupė:"
menu_groups_create="Sukurti naują grupę."
menu_groups_delete="Ištrinti grupę."
menu_groups_rename="Pervardinti grupę."
menu_group_rank="Lygis:"
menu_user_language="Kalba:"
menu_user_promote="Uždėti paaukštinimą."
menu_subject_add_permission="Pridėti privilegiją."
menu_subject_add_permission_world="Pridėti privilegiją pasaulyje"
menu_subject_deny_permission="Uždrausti privilegiją."
menu_subject_deny_permission_world="Uždrausti privilegiją pasaulyje"
menu_subject_remove_permission="Ištrinti privilegiją."
menu_subject_remove_permission_world="Ištrinti privilegiją pasaulyje"
menu_subject_add_option="Pridėti nustatymą."
menu_subject_add_option_world="Pridėti nustatymą pasaulyje"
menu_subject_set_option="Koreguoti nustatymą."
menu_subject_set_option_world="Koreguoti nustatymą pasaulyje"
menu_subject_remove_option="Panaikinti nustatymą."
menu_subject_remove_option_world="Panaikinti nustatymą pasaulyje"
menu_subject_add_group="Pridėti grupę."
menu_subject_add_group_world="Pridėti grupę pasaulyje"
menu_subject_remove_group="Panaikinti grupę."
menu_subject_remove_group_world="Panaikinti grupę pasaulyje"
menu_subject_load="Užkrovimas."
menu_subject_save="Išsaugojimas."
promotion_create_succesfully="Paaukštinimas {promotion} sukurtas."
promotion_create_error_name_exist="Jau yra paaukštinimas su tokiu pavadinimu {promotion}."
promotion_delete_confirmation="Ar jūs tikrai norite ištrinti paaukštinimą {promotion}? {click_confirmation}."
promotion_delete="Paaukštinimas {promotion} ištrintas."
promotion_rename_succesfully="Paaukštinimas {promotion} pervardintas į {newName}."
promotion_rename_error_name_exist="Jau yra paaukštinimas su tokiu pavadinimu {newName}."
promotion_loaded="Paaukštinimas {promotion} užkrautas."
promotion_loaded_all="Visi paaukštinimai užkrati."
promotion_saved="Paaukštinimas {promotion} išsaugotas."
promotion_saved_all="Visi paaukštinimai išsaugoti."
promote_user="{user} gavo paaukštinimą {promotion}."
menu_promotion_create="Sukurti paaukštinimą."
menu_promotion_rename="Pervardinti paaukštinimą."
menu_promotion_delete="Ištrinti paaukštinimą."
menu_promotion_load="Užkrauti paaukštinimą."
menu_promotion_load_all="Užkrauti visus paaukštinimus."
menu_promotion_save="Išsaugoti paaukštinimą."
menu_promotion_save_all="Išsaugoti visus paaukštinimus."
menu_promotion_apply_promotion="Uždėti paaukštinimą."