debug_set_state="De debug mode staat nu {state}."
debug_get_state="De debug mode staat {state}."
debug_state_on="aan"
debug_state_off="uit"
language_user_set="De taal van {user} is nu {language}."
language_set="Jouw taal is nu {language}."
language_get="Jouw taal is {language}."
group_create_succesfully="De groep {group} is aangemaakt."
group_create_error_name_exist="De groep {group} bestaat al."
group_delete_confirmation="Weet je zeker dat je groep {group} wilt verwijderen? {click_confirmation}."
group_delete="De groep {group} is verwijderd."
group_rename_succesfully="De groep {group} heet nu {newName}."
group_rename_error_name_exist="Er is al een groep met de naam {newName}."
group_rank_set="De rang van groep {group} is nu {rank}."
group_default_change="De groep {group} is nu de standaard groep."
group_permission_set_global="De groep {group} heeft nu globaal de permissie {permission}."
group_permission_set_context_world="De groep {group} heeft nu de permissie {permission} in de wereld {world}."
group_permission_deny_global="De groep {group} kan de permissie {permission} niet globaal gebruiken."
group_permission_deny_context_world="De groep {group} kan de permissie {permission} niet in de wereld {world} gebruiken."
group_permission_remove_global="De groep {group} heeft globaal niet langer meer de permissie {permission}."
group_permission_remove_context_world="De groep {group} heeft niet langer meer de permissie {permission} in de wereld {world}."
group_permission_clear_global_confirmation="Weet je zeker dat je alle globale permissies van groep {group} wilt verwijderen? {click_confirmation}."
group_permission_clear_global="Alle globale permissies van groep {group} zijn verwijderd."
group_permission_clear_context_world_confirmation="Weet je zeker dat je alle permissies van groep {group} in de wereld {world} wilt verwijderen? {click_confirmation}."
group_permission_clear_context_world="Alle permissies van groep {group} zijn verwijderd in de wereld {world}."
group_option_clear_global_confirmation="Weet je zeker dat je alle globale opties voor groep {group} wilt verwijderen? {click_confirmation}."
group_option_clear_global="Alle globale opties voor groep {group} zijn verwijderd."
group_option_clear_context_world_confirmation="Weet je zeker dat je alle opties voor groep {group} in de wereld {world} wilt verwijderen? {click_confirmation}."
group_option_clear_context_world="Alle opties voor groep {group} zijn verwijderd in de wereld {world}."
group_group_clear_global_confirmation="Weet je zeker dat je alle globale groepen van groep {group} wilt verwijderen? {click_confirmation}."
group_group_clear_global="Alle globale groepen van groep {group} zijn verwijderd."
group_group_clear_context_world_confirmation="Weet je zeker dat je alle groepen van groep {group} in de wereld {world} wilt verwijderen? {click_confirmation}."
group_group_clear_context_world="Alle groepen van groep {group} zijn verwijderd in de wereld {world}."
group_group_add_context_world="De groep {group} is toegevoegd aan de groep {newGroup} in de wereld {world}."
group_group_add_global="De groep {group} is globaal toegevoegd aan groep {newGroup}."
group_group_remove_context_world="De groep {group} heeft niet meer de groep {groupRemoved} in de wereld {world}."
group_group_remove_global="De groep {group} heeft globaal niet meer de groep {groupRemoved}."
group_option_remove_context_world="De groep {group} heeft niet meer de optie {option} in de wereld {world}."
group_option_remove_global="De groep {group} heeft globaal niet meer de optie {option}."
group_option_set_context_world="De groep {group} heeft nu {value} als waarde voor de optie {option} in de wereld {world}."
group_option_set_global="De groep {group} heeft nu {value} als globale warde voor de optie {option}."
group_loaded="De groep {group} is geladen."
group_saved="De groep {group} is opgeslagen."
group_saved_all="Alle groepen zijn opgeslagen."
user_loaded="{user} is geladen."
user_saved="{user} is opgeslagen."
user_saved_all="Alle gebruikers zijn geladen."
user_option_remove_context_world="{user} heeft niet meer de optie {option} in de wereld {world}."
user_option_remove_global="{user} heeft globaal niet meer de optie {option}."
user_option_set_context_world="{user} heeft nu de waarde {value} voor de optie {option} in de wereld {world}."
user_option_set_global="{user} heeft nu globaal de waarde {value} voor de optie {option}."
user_group_add_context_world="{user} is toegevoegd aan de groep {newGroup} in de wereld {world}."
user_group_add_global="{user} is globaal toegevoegd aan {newGroup}."
user_group_remove_context_world="{user} heeft niet meer de groep {groupRemoved} in de wereld {world}."
user_group_remove_global="{user} heeft globaal niet meer de groep {groupRemoved}."
user_group_clear_global_confirmation="Weet je zeker dat je globaal alle gropen van {user} wilt verwijderen? {click_confirmation}."
user_group_clear_global="Alle globale groepen van {user} zijn verwijderd."
user_group_clear_context_world_confirmation="Weet je zeker dat je alle groepen van {user} in de wereld {world} wilt verwijderen? {click_confirmation}."
user_group_clear_context_world="Alle groepen van {user} zijn verwijderd in de wereld {world}."
user_option_clear_global_confirmation="Weet je zeker dat je alle globale opties van {user} wilt verwijderen? {click_confirmation}."
user_option_clear_global="Alle globale opties van {user} zijn verwijderd."
user_option_clear_context_world_confirmation="Weet je zeker dat je alle opties van {user} in de wereld {world} wilt verwijderen? {click_confirmation}."
user_option_clear_context_world="Alle opties van {user} zijn verwijderd in de wereld {world}."
user_permission_clear_global_confirmation="Weet je zeker dat je alle globale permissies van {user} wilt verwijderen? {click_confirmation}."
user_permission_clear_global="Alle globale permissies van {user} zijn verwijderd."
user_permission_clear_context_world_confirmation="Weet je zeker dat je alle permissies van {user} in de wereld {world} wilt verwijderen? {click_confirmation}."
user_permission_clear_context_world="Alle permissies van {user} zijn verwijderd in de wereld {world}."
user_permission_set_context_world="{user} heeft nu de permissie {permission} in de wereld {world}."
user_permission_set_global="{user} heeft nu globaal de permissie {permission}."
user_permission_deny_context_world="{user} kan de permissie {permission} niet in de wereld {world} gebruiken."
user_permission_deny_global="{user} kan de permissie {permission} niet globaal gebruiken."
user_permission_remove_context_world="{user} heeft niet meer de permissie {permission} in de wereld {world}."
user_permission_remove_global="{user} heeft globaal niet meer de permissie {permission}."
click_confirmation="Klik hier om te bevestigen"
action_already_executed="TDeze actie is reeds uitgevoerd."
action_no_longer_available="Deze actie is niet meer beschikbaar."
saving_error="Er is een fout opgetreden tijdens het opslaan van het bestand. Controleer de logs."
loading_error="Er is een fout opgetreden tijdens het laden van het bestand. Controleer de logs."
menu_back="Terug"
menu_refresh="Ververs"
menu_main_debug="Debug mode"
menu_main_users="Gebruikers"
menu_main_groups="Groepen"
menu_main_promotion="Promoties"
menu_debug_current_state="De debug mode is:"
menu_subjects_save_all="Bewaar al de"
menu_subjects_save_subject="Bewaar een"
menu_subjects_load_subject="Laad a"
menu_subjects_groups_plural="groepen"
menu_subjects_users_plural="gebruikers"
menu_subjects_groups_single="groep"
menu_subjects_users_single="gebruiker"
menu_subject_edit="Bewerk een"
menu_groups_default_group="Standaard groep:"
menu_groups_create="Maak een nieuwe groep aan."
menu_groups_delete="Verwijder een groep."
menu_groups_rename="Geef een groep een andere naam."
menu_group_rank="Rang:"
menu_user_language="Taal:"
menu_user_promote="Pas een promotie toe."
menu_subject_add_permission="Voeg een permissie toe."
menu_subject_add_permission_world="Voeg een permissie toe in wereld"
menu_subject_deny_permission="Weiger een permissie."
menu_subject_deny_permission_world="Weiger een permissie in wereld"
menu_subject_remove_permission="Verwijder een permissie."
menu_subject_remove_permission_world="Verwijder een permissie in wereld"
menu_subject_add_option="Voeg een optie toe."
menu_subject_add_option_world="Voeg een optie toe in wereld"
menu_subject_set_option="Verander een optie."
menu_subject_set_option_world="Verander een optie in wereld"
menu_subject_remove_option="Verwijder een optie."
menu_subject_remove_option_world="Verwijder een optie in wereld"
menu_subject_add_group="Voeg een groep toe."
menu_subject_add_group_world="Voeg een groep toe in wereld"
menu_subject_remove_group="Verwijder een groep."
menu_subject_remove_group_world="verwijder een groep in wereld"
menu_subject_load="Laad."
menu_subject_save="Sla op."
promotion_create_succesfully="De promotie {promotion} is aangemaakt."
promotion_create_error_name_exist="De promotie {promotion} bestaat al."
promotion_delete_confirmation="Weet je zeker dat je de promotie {promotion} wilt verwijderen? {click_confirmation}."
promotion_delete="De promotie {promotion} is verwijderd."
promotion_rename_succesfully="De promotie {promotion} heet nu {newName}."
promotion_rename_error_name_exist="Er is al een promotie met de naam {newName}."
promotion_loaded="De promotie {promotion} is geladen."
promotion_loaded_all="Alle promoties zijn geladen."
promotion_saved="De promotie {promotion} is opgeslagen."
promotion_saved_all="Alle promoties zijn opgeslagen."
promote_user="{user} heeft de promotie {promotion} ontvangen."
menu_promotion_create="Maak een promotie."
menu_promotion_rename="Hernoem een promotie."
menu_promotion_delete="Verwijderd een promotie."
menu_promotion_load="Laad een promotie."
menu_promotion_load_all="Laad alle promoties."
menu_promotion_save="Sla een promotie op."
menu_promotion_save_all="Sla alle promoties op."
menu_promotion_apply_promotion="Pas een promotie toe."