debug_set_state="O modo de correção de erros está a {state}."
debug_get_state="O modo de correção de erros está atualmente a {state}."
debug_state_on="on"
debug_state_off="off"
language_user_set="A linguagem de {user} é agora {language}."
language_set="A sua linguagem é agora {language}."
language_get="A sua linguagem é {language}."
group_create_succesfully="O grupo {group} foi criado."
group_create_error_name_exist="Já existe um grupo chamado {group}."
group_delete_confirmation="Tem a certeza que quer apagar o grupo {group}? {click_confirmation}."
group_delete="O grupo {group} foi apagado."
group_rename_succesfully="O grupo {group} foi renomeado para {newName}."
group_rename_error_name_exist="Já existe um grupo chamado {newName}."
group_rank_set="O Rank de {group} é agora {rank}."
group_default_change="O grupo {group} é agora o grupo padrão."
group_permission_set_global="O grupo {group} agora tem a permissão {permission} globalmente."
group_permission_set_context_world="TO grupo {group} agora tem a permissão {permission} no mundo {world}."
group_permission_deny_global="O grupo {group} não pode usar a permissão {permission} globalmente."
group_permission_deny_context_world="O grupo {group} não pode usar a permissão {permission} no mundo {world}."
group_permission_remove_global="O grupo {group} já não tem a permissão {permission} globalmente."
group_permission_remove_context_world="O grupo {group} já não tem a permissão {permission} no mundo {world}."
group_permission_clear_global_confirmation="Tem a certeza que quer apagar todas as permissões do grupo {group} globalmente? {click_confirmation}."
group_permission_clear_global="Todas as permissões do grupo {group} foram apagadas globalmente."
group_permission_clear_context_world_confirmation="Tem a certeza que quer apagar todas as permissões do grupo {group} no mundo {world}? {click_confirmation}."
group_permission_clear_context_world="Todas as permissões do grupo {group} foram apagadas no mundo {world}."
group_option_clear_global_confirmation="Tem a certeza que quer apagar todas as opções do grupo {group} globalmente? {click_confirmation}."
group_option_clear_global="Todas as opções do grupo {group} foram apagadas globalmente."
group_option_clear_context_world_confirmation="Tem a certeza que quer apagar todas as opções do grupo {group} no mundo {world}? {click_confirmation}."
group_option_clear_context_world="Todas as opções do grupo {group} foram apagadas no mundo {world}."
group_group_clear_global_confirmation="Tem a certeza que quer apagar todos os grupos do grupo {group} globalmente? {click_confirmation}."
group_group_clear_global="Todos os grupos do grupo {group} foram apagados globalmente."
group_group_clear_context_world_confirmation="Tem a certeza que quer apagar todos os grupos do grupo {group} no mundo {world}? {click_confirmation}."
group_group_clear_context_world="Todos os grupos do grupo {group} foram apagados no mundo {world}."
group_group_add_context_world="O grupo {group} foi adicionado ao grupo {newGroup} no mundo {world}."
group_group_add_global="O grupo {group} foi adicionado ao grupo {newGroup} globalmente."
group_group_remove_context_world="O grupo {group} já não tem o grupo {groupRemoved} no mundo {world}."
group_group_remove_global="O grupo {group} já não tem o grupo {groupRemoved} globalmente."
group_option_remove_context_world="O grupo {group} já não tem a opção {option} no mundo {world}."
group_option_remove_global="O grupo {group} já não tem a opção {option} globalmente."
group_option_set_context_world="O grupo {group} agora tem a opção {option} definida para {value} no mundo {world}."
group_option_set_global="O grupo {group} agora tem a opção {option} definida para {value} globalmente."
group_loaded="O grupo {group} foi carregado."
group_saved="O grupo {group} foi guardado."
group_saved_all="Todos os grupos foram carregados."
user_loaded="{user} foi carregado."
user_saved="{user} foi guardado."
user_saved_all="Todos os utilizadores foram guardados."
user_option_remove_context_world="{user} já não tem a opção {option} no mundo {world}."
user_option_remove_global="{user} já não tem a opção {option} globalmente."
user_option_set_context_world="{user} tem agora a opção {option} definida para {value} no mundo {world}."
user_option_set_global="{user} tem agora a opção {option} definida para {value} globalmente."
user_group_add_context_world="{user} foi adicionado ao grupo {newGroup} no mundo {world}."
user_group_add_global="{user} foi adicionado ao grupo {newGroup} globalmente."
user_group_remove_context_world="{user} já não tem o grupo {groupRemoved} no mundo {world}."
user_group_remove_global="{user} já não tem o grupo {groupRemoved} globalmente."
user_group_clear_global_confirmation="Tem a certeza que quer apagar todos os grupos de {user} globalmente? {click_confirmation}."
user_group_clear_global="Todos os grupos de {user} foram apagados globalmente."
user_group_clear_context_world_confirmation="Tem a certeza que quer apagar todos os grupos de {user} no mundo {world}? {click_confirmation}."
user_group_clear_context_world="Todos os grupos de {user} foram apagados no mundo {world}."
user_option_clear_global_confirmation="Tem a certeza que quer apagar todas as permissões de {user} globalmente? {click_confirmation}."
user_option_clear_global="Todas as opções de {user} foram apagadas globalmente."
user_option_clear_context_world_confirmation="Tem a certeza que quer apagar todas as permissões de {user} no mundo {world}? {click_confirmation}."
user_option_clear_context_world="Todas as opções de {user} foram apagadas no mundo {world}."
user_permission_clear_global_confirmation="Tem a certeza que quer apagar todas as permissões de {user} globalmente? {click_confirmation}."
user_permission_clear_global="Todas as permissões de {user} foram apagadas globalmente."
user_permission_clear_context_world_confirmation="Tem a certeza que quer apagar todas as permissões de {user} no mundo {world}? {click_confirmation}."
user_permission_clear_context_world="Todas as permissões de {user} foram apagadas do mundo {world}."
user_permission_set_context_world="{user} agora tem a permissão {permission} no mundo {world}."
user_permission_set_global="{user} agora tem a permissão {permission} globalmente."
user_permission_deny_context_world="{user} não pode usar a permissão {permission} no mundo {world}."
user_permission_deny_global="{user} não pode usar a permissão {permission} globalmente."
user_permission_remove_context_world="{user} já não tem a permissão {permission} no mundo {world}."
user_permission_remove_global="{user} já não tem a permissao {permission} globalmente."
click_confirmation="Clique aqui para confirmar"
action_already_executed="Esta ação já foi executada."
action_no_longer_available="Esta ação não está mais disponível."
saving_error="Um erro ocorreu ao guardar o ficheiro. Verifique os logs."
loading_error="Um erro ocorreu ao carregar o ficheiro. Verifique os logs."
menu_back="Voltar"
menu_refresh="Recarregar"
menu_main_debug="Modo de Correção de Erros"
menu_main_users="Utilizadores"
menu_main_groups="Grupos"
menu_main_promotion="Promoções"
menu_debug_current_state="O modo de correção de erros está atualmente:"
menu_subjects_save_all="Guardar todos os"
menu_subjects_save_subject="Guardar uma"
menu_subjects_load_subject="Carregar uma"
menu_subjects_groups_plural="grupos"
menu_subjects_users_plural="utilizadores"
menu_subjects_groups_single="grupo"
menu_subjects_users_single="utilizador"
menu_subject_edit="Editar um"
menu_groups_default_group="Grupo padrão:"
menu_groups_create="Criar um novo grupo."
menu_groups_delete="Apagar um grupo."
menu_groups_rename="Renomear um grupo."
menu_group_rank="Rank:"
menu_user_language="Linguagem:"
menu_user_promote="Aplicar uma promoção."
menu_subject_add_permission="Adicionar uma permissão."
menu_subject_add_permission_world="Adicionar uma permissão num mundo"
menu_subject_deny_permission="Proibir uma permissão."
menu_subject_deny_permission_world="Proibir uma permissão num mundo"
menu_subject_remove_permission="Remover uma permissão."
menu_subject_remove_permission_world="Remover uma permissão num mundo"
menu_subject_add_option="Adicionar uma opção."
menu_subject_add_option_world="Adicionar uma opção num mundo"
menu_subject_set_option="Editar uma opção."
menu_subject_set_option_world="Editar uma opção num mundo"
menu_subject_remove_option="Remover uma opção."
menu_subject_remove_option_world="Remover uma opção num mundo"
menu_subject_add_group="Adicionar um grupo."
menu_subject_add_group_world="Adicionar um grupo num mundo"
menu_subject_remove_group="Remover um grupo."
menu_subject_remove_group_world="Remover um grupo num mundo"
menu_subject_load="Carregar."
menu_subject_save="Guardar."
promotion_create_succesfully="A promoção {promotion} foi criada."
promotion_create_error_name_exist="Já existe uma promoção chamada {promotion}."
promotion_delete_confirmation="Team a certeza que quer apagar a promoção {promotion}? {click_confirmation}."
promotion_delete="A promoção {promotion} foi apagada."
promotion_rename_succesfully="A promoção {promotion} foi renomeada para {newName}."
promotion_rename_error_name_exist="Já existe uma promoção chamada {newName}."
promotion_loaded="A promoção {promotion} foi carregada."
promotion_loaded_all="Todas as promoções foram carregadas."
promotion_saved="A promoção {promotion} foi guardada."
promotion_saved_all="Todas as promoções foram guardadas."
promote_user="{user} recebeu a promoção {promotion}."
menu_promotion_create="Criar uma promoção."
menu_promotion_rename="Renomear uma promoção."
menu_promotion_delete="Apagar uma promoção."
menu_promotion_load="Carregar uma promoção."
menu_promotion_load_all="Carregar todas as promoções."
menu_promotion_save="Guardar uma promoção."
menu_promotion_save_all="Guardar todas as promoções."
menu_promotion_apply_promotion="Aplicar uma promoção."