debug_set_state="Режим отладки {state}."
debug_get_state="Режим отладки сейчас {state}."
debug_state_on="включен"
debug_state_off="выключен"
language_user_set="Новый язык пользователя {user}: {language}."
language_set="Установлен язык: {language}."
language_get="Вы используете язык {language}."
group_create_succesfully="Группа {group} создана."
group_create_error_name_exist="Группа {group} уже существует."
group_delete_confirmation="Вы уверены, что хотите удалить группу {group}? {click_confirmation}."
group_delete="Группа {group} удалена."
group_rename_succesfully="Группа {group} успешно переименована в {newName}."
group_rename_error_name_exist="Название {newName} уже занято."
group_rank_set="Ранг для группы {group} теперь {rank}."
group_default_change="Группа {group} установлена как группа по умолчанию."
group_permission_set_global="У группы {group} теперь есть разрешение {permission}."
group_permission_set_context_world="У группы {group} теперь есть разрешение {permission} в мире {world}."
group_permission_deny_global="Группа {group} не может использовать разрешение {permission}."
group_permission_deny_context_world="Группа {group} не может использовать разрешение {permission} в мире {world}."
group_permission_remove_global="У группы {group} больше нет разрешения {permission}."
group_permission_remove_context_world="У группы {group} больше нет разрешения {permission} в мире {world}."
group_permission_clear_global_confirmation="Вы уверены, что хотите удалить все разрешения группы {group}? {click_confirmation}."
group_permission_clear_global="Все разрешения для группы {group} удалены."
group_permission_clear_context_world_confirmation="Вы уверены, что хотите удалить все разрешения группы {group} для мира {world}? {click_confirmation}."
group_permission_clear_context_world="Все разрешения группы {group} для мира {world} были удалены."
group_option_clear_global_confirmation="Вы уверены, что хотите удалить все настройки группы {group}? {click_confirmation}."
group_option_clear_global="Все настройки группы {group} удалены."
group_option_clear_context_world_confirmation="Вы уверены, что хотите удалить все настройки группы {group} для мира {world}? {click_confirmation}."
group_option_clear_context_world="Все настройки группы {group} для мира {world} удалены."
group_group_clear_global_confirmation="Вы уверены, что хотите удалить все подгруппы группы {group}? {click_confirmation}."
group_group_clear_global="Все подгруппы группы {group} удалены."
group_group_clear_context_world_confirmation="Вы уверены, что хотите удалить все подгруппы группы {group} для мира {world}? {click_confirmation}."
group_group_clear_context_world="Все подгруппы группы {group} для мира {world} удалены."
group_group_add_context_world="Группа {group} теперь имеет подгруппу {newGroup} в мире {world}."
group_group_add_global="Группа {group} теперь имеет подгруппу {newGroup}."
group_group_remove_context_world="Группа {group} больше не имеет подгруппы {groupRemoved} в мире {world}."
group_group_remove_global="Группа {group} больше не имеет подгруппы {groupRemoved}."
group_option_remove_context_world="Группа {group} больше не имеет опции {option} в мире {world}."
group_option_remove_global="Группа {group} больше не имеет опции {option}."
group_option_set_context_world="Опция {option} установлена в значение {value} для группы {group} в мире {world}."
group_option_set_global="Опция {option} установлена в значение {value} для группы {group}."
group_loaded="Группа {group} загружена."
group_saved="Группа {group} сохранена."
group_saved_all="Группы сохранены."
user_loaded="{user} загружен."
user_saved="{user} сохранен."
user_saved_all="Все пользователи сохранены."
user_option_remove_context_world="{user} больше не имеет опции {option} в мире {world}."
user_option_remove_global="{user} больше не имеет опции {option}."
user_option_set_context_world="Опция {option} установлена в значение {value} для пользователя {user} в мире {world}."
user_option_set_global="Опция {option} установлена в значение {value} для пользователя {user}."
user_group_add_context_world="{user} теперь имеет группу {newGroup} в мире {world}."
user_group_add_global="{user} теперь имеет группу {newGroup}."
user_group_remove_context_world="{user} больше не имеет группы {groupRemoved} в мире {world}."
user_group_remove_global="{user} больше не имеет группы {groupRemoved}."
user_group_clear_global_confirmation="Вы уверены, что хотите удалить все группы пользователя {user}? {click_confirmation}."
user_group_clear_global="Все группы пользователя {user} удалены."
user_group_clear_context_world_confirmation="Вы уверены, что хотите удалить все группы пользователя {user} в мире {world}? {click_confirmation}."
user_group_clear_context_world="Все группы пользователя {user} для мира {world} удалены."
user_option_clear_global_confirmation="Вы уверены, что хотите удалить все настройки пользователя {user}? {click_confirmation}."
user_option_clear_global="Все настройки пользователя {user} удалены."
user_option_clear_context_world_confirmation="Вы уверены, что хотите удалить все настройки пользователя {user} для мира {world}? {click_confirmation}."
user_option_clear_context_world="Все настройки пользователя {user} для мира {world} удалены."
user_permission_clear_global_confirmation="Вы уверены, что хотите удалить все разрешения пользователя {user}? {click_confirmation}."
user_permission_clear_global="Все разрешения пользователя {user} удалены."
user_permission_clear_context_world_confirmation="Вы уверены, что хотите удалить все разрешения пользователя {user} для мира {world}? {click_confirmation}."
user_permission_clear_context_world="Все разрешения пользователя {user} для мира {world} удалены."
user_permission_set_context_world="{user} теперь имеет разрешение {permission} в мире {world}."
user_permission_set_global="{user} теперь имеет разрешение {permission}."
user_permission_deny_context_world="{user} не может использовать разрешение {permission} в мире {world}."
user_permission_deny_global="{user} не может использовать разрешение {permission}."
user_permission_remove_context_world="У {user} больше нет разрешения {permission} в мире {world}."
user_permission_remove_global="У {user} больше нет разрешения {permission}."
click_confirmation="Нажмите для подтверждения"
action_already_executed="Это действие уже выполнено."
action_no_longer_available="Это действие вам больше не доступно."
saving_error="Не сохранено. Проверьте логи на наличие ошибок."
loading_error="Файл не загружен. Проверьте логи на наличие ошибок."
menu_back="Назад"
menu_refresh="Обновить"
menu_main_debug="Режим отладки"
menu_main_users="Игроки"
menu_main_groups="Группы"
menu_main_promotion="Повышения"
menu_debug_current_state="Режим отладки"
menu_subjects_save_all="Сохранить все"
menu_subjects_save_subject="Сохранить"
menu_subjects_load_subject="Загрузить"
menu_subjects_groups_plural="группы"
menu_subjects_users_plural="игроки"
menu_subjects_groups_single="группа"
menu_subjects_users_single="игрок"
menu_subject_edit="Редактировать"
menu_groups_default_group="Группа по умолчанию:"
menu_groups_create="Создать новую группу."
menu_groups_delete="Удалить группу."
menu_groups_rename="Переименовать группу."
menu_group_rank="Ранг:"
menu_user_language="Язык:"
menu_user_promote="Применить повышение."
menu_subject_add_permission="Дать разрешение."
menu_subject_add_permission_world="Дать разрешение для мира"
menu_subject_deny_permission="Запретить."
menu_subject_deny_permission_world="Запретить для мира"
menu_subject_remove_permission="Удалить разрешение."
menu_subject_remove_permission_world="Удалить разрешение для мира"
menu_subject_add_option="Добавить опцию."
menu_subject_add_option_world="Добавить опцию для мира"
menu_subject_set_option="Изменить опцию."
menu_subject_set_option_world="Изменить опцию для мира"
menu_subject_remove_option="Удалить опцию."
menu_subject_remove_option_world="Удалить опцию для мира"
menu_subject_add_group="Добавить группу."
menu_subject_add_group_world="Добавить группу для мира"
menu_subject_remove_group="Удалить группу."
menu_subject_remove_group_world="Удалить группу для мира"
menu_subject_load="Загрузить."
menu_subject_save="Сохранить."
promotion_create_succesfully="Повышение {promotion} создрано."
promotion_create_error_name_exist="Повышение с названием {promotion} уже существует."
promotion_delete_confirmation="Вы уверены, что хотите удалить повышение {promotion}? {click_confirmation}."
promotion_delete="Повышение {promotion} удалено."
promotion_rename_succesfully="Повышение {promotion} переименовано в {newName}."
promotion_rename_error_name_exist="Название {newName} занято."
promotion_loaded="Повышение {promotion} загружено."
promotion_loaded_all="Все повышения загружены."
promotion_saved="Повышение {promotion} сохранено."
promotion_saved_all="Все повышения сохранены."
promote_user="{user} получил повышение {promotion}."
menu_promotion_create="Создать повышение."
menu_promotion_rename="Переименовать повышение."
menu_promotion_delete="Удалить повышение."
menu_promotion_load="Загрузить повышение."
menu_promotion_load_all="Загрузить все повышения."
menu_promotion_save="Сохранить повышение."
menu_promotion_save_all="Сохранить все повышения."
menu_promotion_apply_promotion="Применить повышение."